html,
body {
  background: #49adf1;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#container {
  background: #49adf1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
